<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

<h2>Welcome to <span class="fas fa-book"></span>Bookers!</h2>
<p>in<span class="fas fa-book"></span>Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions
about various books!</p>
    <li>
      <%= link_to "log in", user_session_path, class:"btn btn-primary" %>
    </li>
     <li>
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success" %>
    </li>
      </div>
  </div>
</div>
